article [property=url] {
    color: inherit;
    padding: 5px 0;
    display: block;
}

article [property=creator] {
    white-space: nowrap;
    color: gray;
}

article [property=journal] {
    font-style: italic;
}

article [property=citation] {
    color: #270;
}

article [property=citation] a {
    color: inherit;
}

article section {
    font-family: Optima, Arial, Verdana, Helvetica, serif;
    text-align: justify;
    margin-top: 10px;
    margin-bottom: 10px;
}

article footer {
    margin-top: 5px;
    color: gray;
    font-size: 90%;
}

.et-al {
    font-style: italic;
    white-space: nowrap;
    color: lightSlateGray;
}

a.link:not(:last-child) {
    margin-right: 10px;
}

a.link {
    white-space: nowrap;
}

a[rel="export"]::before {
    content: "⇣ ";
}
